body{
    background-color: rgb(54, 118, 255);
}

h2{
    display: block;
    margin-top: 5%;
    margin-right: 15px;
    text-align: center;
}

p{
    height: 15px;
    font-size: 20px;
}
a{
    display: inline;
    color: white;
    font-size: 23px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 0px;
}

header{
    display: flex;
    background-color: crimson;
    position: relative;
    top: 0%;
    width: 100%;
    height: 7%;
    justify-content: space-between;
    position: fixed
    
}
.h{
    text-align: start;
}
.ul1{
    display: flex;
    list-style: none;
    color:white;
    position: absolute;
    left: 55%;
    color:#f0f0f0;
}
 
.ul1 li{
    margin-right: 15px;
}
.ul1 li:hover{
    scale: 1.2;
    transition: 0.5s;
}

.ul1 li a{
    font-size: 18px;
    text-decoration-line: none;
}
#check{
    display: none;
}
.section-2 .a1{
    font-size: 17px;
    padding-inline-start: 7px;    
}

.section-2 .a2{
    font-size: 17px;
    padding-inline-start: 1px;    
}
.hotel:hover{
    scale: 1.1;
    transition: 0.5s;
}
.tateti:hover{
    scale:1.1;
    transition: 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 251, 3);
    float: right;
    margin-top: 30px;
    line-height: 20px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
.section-1{

    background-color: chocolate;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin-left: 21.2%;
}
.parrafo-2{
    margin-right: 20px;
}
.texto{
    position: absolute;
    color: aliceblue;
    left:5%;
}

.section-2{
    margin: 10% 10%;
    display: flex;
    justify-content: space-evenly;
}
.i1{
    border-radius: 5%;
}
.footer2{
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: rgb(0, 225, 255);
    
}

.texto2{
    color:black;
    position: absolute;
    top: 40%;
    left: 40%;
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Pirata One', cursive;
    font-size: 25px;
}

.saludo{
    padding-top: 1%;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
}

.seccionHabi{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;

}

#greeting{
    display: flex;
    justify-content: center;
    background-color: coral;
}
.ol1{
    display: flex;
    align-items: center;
    justify-content: center;    
}

#mensajeria{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacto{
    display: flex;
    justify-content: center;
}

#mensaje{
    margin:1%;
    padding:2%;
    border: 5px dashed snow;
}
#e1{
    padding-bottom: 10%;
}
#e1 label{
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
#mensaje input[type="text"],
#mensaje input[type="email"],
#mensaje textarea{
    display: block;
    background-color: white;
    /*font-family: 'Times New Roman', Times, serif;*/
    font-family: 'Pacifico', cursive;
    width: 200px;
    border:4px;
    border-color: blue;
    border-style: dotted;
}
#e2{
    display: flex;
    justify-content: center;
}
#e2 button{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: yellow;
}






@media (max-width: 1115px) {
    header{
        height: 10%;
    }
}

@media (max-width: 1001px){
    #sh2{
        margin-top: 8%;
    }
}
@media (max-width: 1054px) {
    #h2{
        background-color: rgb(210,105,30);
    }
    .texto{
        margin-left: 2%;
    }
    .ul1{
        left: 60%;
    }
}


@media (max-width: 950px) {
    .texto{
        margin-left: 5%;
    }
    .ul1{
        left: 50%;
    }
    #sh2{
        margin-top: 20%;
    }
}
/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
    header{
        left: 0%;
        background-color: aqua;
        height: 15%;
    }
    .texto{
        color: black;
        margin-left: 2%;
        margin-top: 5%;
    }
    .icono{
        padding-left: 2.5%;
        margin-top: 2.5%;
    }
    #encabezado .checkbtn{
        font-size: 30px;
        color: rgb(238, 255, 3);
        float: right;
        line-height: 20px;
        margin-right: 30px;
        cursor: pointer;
        display: inline;
    }
    #encabezado .ul1{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:rgb(255, 3, 142);
        color:black;
        text-align: center;
    
        top: 12.5%;
        left: 100%;
        transition: 0.5s;
    }
    #check:checked ~ .ul1{
        left: 0%;
        display: block;
    }

    #encabezado nav .ul1 li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    #encabezado nav .ul1 li a{
        font-size: 20px;
    }

    #check:checked ~.checkbtn{
        color: black;
    }
    
    .section-1{
        background-color: magenta;
        display: block;
        text-align: center;
    }
    .acerca-imagen{
        margin-top: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #seccionHabis{
        margin-top: 5%;
    }
    .hotel{
        margin-bottom: 34%;
    }
    .section-2{
        display: block;
    }
    #sh2{
        margin-top: 10%;
    }
}

/*fuentes disponibles: 
font-family: 'Dancing Script', cursive;
font-family: 'DotGothic16', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Pirata One', cursive;
*/